.todoListDiv{
    list-style: none;
    height: 3rem;
    margin-top: 1rem;
    background-color:#193d63;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}
.todoListDiv li{
    display: flex;
    color: white;
    padding-left: 15px;
    padding-top: 2px;
    font-weight: bolder;
    font-size: 2rem;
    
}
.iconContainer{
    display: flex;
    justify-content: right;
    align-items: center;
}
.delIcon{
    color: #24cbba;
    font-size: 2rem;
    font-weight: bolder;
    padding-right: 10px;
}